@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");


.top-about {
  margin: 5rem 0;
}

.top-about p,
.top-about h3 {
  text-align: center;
  color: #7f7f90;
}

.top-about p {
  font-style: 2rem;
  font-family: sans-serif;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.top-about h3 {
  font-family: "Oleo Script", system-ui;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.content-about {
  padding-inline: 6rem;
  justify-content: center;
  align-items: start;
}

.top-about span {
  color: #d12121;
}

/* Start Left Section */

.left-sec-about {
  max-width:  100%;
}

.left-sec-about img {
  max-width: 90%;
}

.left-sec-about .number {
  margin-top: 1rem;
  text-align: center;
  border: 2px solid gray;
  width: 90%;
  padding: 1.2rem;
}

.left-sec-about .number h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.left-sec-about .number p {
  margin-top: 0.8rem;
  color: #d12121;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: sans-serif;
}

.left-sec-about .number span:nth-child(1),
.left-sec-about .number span:nth-child(2),
.left-sec-about .number span:nth-child(3) {
  margin-right: 0.6rem;
}

/* End Left Section */

/* Start Right Section */

.right-sec-about {
  max-width: 100%;
}

.right-sec-about img {
  max-width: 90%;
}

.right-sec-about p {
  line-height: 2rem;
  font-size: 1.2rem;
  color: #7f7f90;
  margin-bottom: 1rem;
}

.icon-about span {
  display: inline-block;
}

.icon-about {
  line-height: 2rem;
  font-family: "Titillium Web", sans-serif;
}

.icon-about span {
  margin-bottom: 0.8rem;
}

.fa-check {
  padding: 0.2rem;
  background-color: #d12121;
  color: #fff;
  border-radius: 50%;
}
/* End Right Section */
