/* .container-sec-cheif{
    
} */

.container-sec-cheif .top-sec-cheif {
  text-align: center;
  margin-top: 3rem;
  padding-top: 2rem;
}
.container-sec-cheif .top-sec-cheif p {
  font-family: sans-serif;
  color: #7f7f90;
  font-size: 1.5rem;
}

.container-sec-cheif .top-sec-cheif h3 {
  font-family: "Oleo Script", system-ui;
  font-size: 3rem;
}

.container-sec-cheif .top-sec-cheif span {
  color: #d32a2a;
  display: inline-block;
  margin-top: 1rem;
}

.container-sec-cheif .top-cheif {
  margin-top: 3rem;
  padding-inline: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
   gap: 1.2rem;
   text-align: center;
   
  
}

.container-sec-cheif .card-cheif {
    background-color: #fff;
    font-family: sans-serif;
    width: 350px;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4),
    0px 8px 12px 0px rgba(0, 0, 0, 0.8);
}

.container-sec-cheif .card-cheif img {
  width: 350px;
  height: auto;
  
}


.container-sec-cheif .card-cheif h3{
    
    margin-top: 2rem;
    margin-bottom: .8rem;
    font-weight: bold;
}

.container-sec-cheif .card-cheif .title-job{
    
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #91919F;
}

.card-cheif .detials-cheif{
   
    padding-left: .4rem;
    padding-right: .4rem;
    color: #91919F;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

