.container-info{
    
    margin-top: 4rem;
    max-width: 100%;
}

.parent-info{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    gap: 2rem;
    padding-inline: 6rem;
}

.icon-address .fa-map{
    background-color: #CE1212;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    color: #fff;


}


.Address{
   
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem;
     box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.4) , 0px 12px 19px 0px rgba(0, 0, 0, 0.12);
    border-radius: .8rem;
    
    
}

.txt-address h3{
    color: #7F7F90;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.txt-address p{
    font-family: sans-serif;
    margin-left: 1rem;
    font-weight: 400;
}