@media (max-width: 320px) {
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .container {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  /* Start Header */
  header {
    position: unset;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
  }

  header .logo {
    width: 30%;
    max-width: 100%;
    display: inline-block;
    text-align: center;
  }

  header .logo h1 {
    font-size: 1rem;
  }

  header .logo img {
    width: 100%;
    max-width: 40%;
  }

  nav .links {
    display: inline-block;
  }

  nav .links li {
    font-size: 1rem;
  }

  header .system-bg {
    display: none;
  }

  /* End Header */

  /* Start Main */

  main .section-1 {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
    text-align: center;
    height: auto;
  }

  main .section-1 .left-sec {
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  main .section-1 .left-sec h2,
  main .section-1 .left-sec h3,
  main .section-1 .left-sec p {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center !important;
    font-size: 1rem !important;
    line-height: 2rem !important;
  }

  .parent-btn {
    display: block;
    all: unset;
  }

  .parent-btn .btn-sec1 {
    width: 100%;
    max-width: 100%;
    text-align: center;

    margin: 1rem auto 0;

    background-color: #ce1212;
    border-radius: 0.5rem;
  }

  .parent-btn .btn-w-icon {
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    margin: 1rem auto 0;
    padding: 0.5rem;
    background-color: #ce1212;
    border-radius: 0.5rem;
  }

  .parent-btn .btn-w-icon .fa-circle-play {
    margin-right: 0.2rem;
    color: #fff !important;
  }

  .parent-btn .btn-w-icon .btn-video {
    font-size: 1rem !important;
    font-weight: 500 !important;
    width: 100%;
    color: #fff !important;
  }

  .section-1 .right-sec {
    margin-top: 2rem;
  }

  .section-1 .right-sec img {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }

  /* Start About */

  .container-about .top-about {
    margin-top: 1rem;
  }

  .container-about .top-about h3 {
    font-size: 1.5rem;
  }

  .container-about .content-about {
    margin: -2rem;
    flex-wrap: wrap;
  }

  .left-sec-about .number h3,
  .left-sec-about .number p,
  .right-sec-about p,
  .top-menu p,
  .top-menu h3 {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .right-sec-about p {
    margin-top: 1rem;
  }

  .icon-about {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .icon-about .fa-check {
    display: none;
  }

  .container-menu .top-menu {
    margin-top: 1.2rem;
  }

  .content-state {
    font-size: 1rem;
    display: block;
  }

  .list-menu ul {
    display: block;
  }

  .list-menu ul li {
    text-align: center;
  }

  .top-cheif {
    width: 100%;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    background-color: red;
  }

  .top-cheif img {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
  }
  /* End About */
  /* Start Footer */

  .container-footer {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .container-footer .parent-footer {
    display: block;
  }

  .container-footer .parent-footer .icons-footer {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: start;
  }

  .st h3,
  .st p {
    font-size: 1rem;
  }
}
